# Flutter/Dart global
**/.dart_tool/
**/build/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/.pub-cache/
**/.pub/
**/local.properties
**/android/app/debug/
**/android/app/profile/
**/android/app/release/

# Go global
**/bin/
bipbop-engine/mobile/android/golib/libbipbop.h
bipbop-engine/mobile/android/golib/libbipbop.so

# IDE / OS
.idea/
.vscode/
.DS_Store
*.swp
*.log
*.tmp
nul

# KEEP native libraries in jniLibs (needed for build)
!bipbop-android/android/app/src/main/jniLibs/**
