# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
**/*.iml
**/*.jks
**/*.keystore
android/local.properties
android/key.properties
android/app/src/main/res/drawable-*/ic_launcher.png
android/app/src/main/res/mipmap-*/ic_launcher.png

# Miscellaneous
.DS_Store
.history
.idea/
*.log
*.so
build_error_*.log
build_release_*.log
